.todo_box{
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.todo_write{ 
    font-weight: 500;
    letter-spacing: 2.5px;
    width: 300px;
    color: rgba(255, 255, 255, .9); 
    border: none; 
    border-bottom:1px solid rgba(255, 255, 255, .9) ;
    outline:none ;
    background: rgba(255, 255, 255, 0);
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
}
.todo_write::placeholder{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, .9);
    font-size: 1rem;
    font-family: 'Nanum Gothic', sans-serif;
}
.todo_submit{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100px;
    height: 30px;
    font-size:.8rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color:#2d3436;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.todo_submit:hover{
    background-color: #aa8fd8;
    box-shadow: 0px 15px 20px rgba(209, 107, 165,.6);
    color: #fff;
    transform: translateY(-7px);
}
